@model breakfastbot.Models.BotModels

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<a href="~/Views/Bot/Start.cshtml">~/Views/Bot/Start.cshtml</a>
<head>
    <title>title</title>
</head>
<body>
<div>
      @Model.Message
</div>
</body>
</html>